@model WebDiary.Models.EventViewModel

@{
    ViewData["Title"] = "Event Calendar";
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            nowIndicator: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title', // 'addEventButton',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            selectMirror: true,
            dayMaxEvents: true, // allow "more" link when too many events
            
            eventClick: function (date, jsEvent, view) {
                    $('#schedule-edit').modal('show');
                },

            events: '/Home/GetEvents',

            eventDidMount: function (info) {

                $(info.el).tooltip({ //bootstrap tooltip
                    title: info.event.extendedProps.description,
                });

            },
            eventWillUnmount: function (info) {
                $(info.el).tooltip('dispose');
            },
           
            dateClick: function (date, jsEvent, view) {
                $('#schedule-add').modal('show');
            },
        });
        calendar.render();
        
    });
    
</script>



<div id='calendar'></div>



<!-- Add Modal -->
<div class="modal fade" id="schedule-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Your Schedule</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Schedule Name:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseAdd">Close</button>
                <button type="button" class="btn btn-success" id="btnSaveAdd">Add Your Schedule</button>
            </div>
        </div>
    </div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="schedule-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Your Schedule</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Schedule Name:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseEdit">Close</button>
                <button type="button" class="btn btn-success" id="btnSaveEdit">Save Your Schedule</button>
                <button type="button" class="btn btn-success" id="btnDeleteEdit">Delete Your Schedule</button>
            </div>
        </div>
    </div>
</div>

<script>
    const addContainer = document.getElementById("schedule-add");
    const addModal = new bootstrap.Modal(addContainer);
    document.getElementById("btnCloseAdd").addEventListener("click", function () {
        addModal.hide();
    });
    document.getElementById("btnSaveAdd").addEventListener("click", function () {
        addModal.hide();
    });


</script>
<script>
    const editContainer = document.getElementById("schedule-edit");
    const editModal = new bootstrap.Modal(editContainer);
    document.getElementById("btnCloseEdit").addEventListener("click", function () {
        editModal.hide();
    });
    document.getElementById("btnSaveEdit").addEventListener("click", function () {
        editModal.hide();
    });
    document.getElementById("btnDeleteEdit").addEventListener("click", function () {
        editModal.hide();
    });
</script>


