@model WebDiary.Models.Event

@{
    ViewData["Title"] = "Event Calendar";
}

@section scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var sendDate;
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                nowIndicator: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title', // 'addEventButton',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                selectable: true,
                selectMirror: true,
                dayMaxEvents: true, // allow "more" link when too many events

                eventClick: function (date, jsEvent, view) {
                    $('#schedule-edit').modal('show');
                },

                events: '/Home/GetEvents',

                eventDidMount: function (info) {
                    $(info.el).tooltip({ //bootstrap tooltip
                        title: info.event.extendedProps.description,
                    });

                },
                eventWillUnmount: function (info) {
                    $(info.el).tooltip('dispose');
                },

                dateClick: function (date, allDay, jsEvent, view) {
                    sendDate = new Date(date.dateStr);
                    var start_date = moment(date.dateStr).format('YYYY-MM-DDTHH:MM');
                    //debugger;
                    ShowEventPopup(start_date);
                },
            });
            calendar.render();

        });


        $('#btnCloseAdd').click(function () {
            ClearPopupFormValues();
            $('#schedule-add').modal('hide');
        });
        $('#btnSaveAdd').click(function () {
            //debugger;
            $('#schedule-add').modal('hide');
        });


        $('#btnCloseEdit').click(function () {
            ClearPopupFormValues();
            $('#schedule-edit').modal('hide');
        });
        $('#btnSaveEdit').click(function () {
            $('#schedule-edit').modal('hide');
        });
        $('#btnDeleteEdit').click(function (arg) {
            const result = confirm('Are you sure?');
            if (result) {
                $('#schedule-edit').modal('hide');
                arg.event.remove()
            } else {
                $('#schedule-edit').modal('hide');
            }

        });

        function ShowEventPopup(sendDate) {
            ClearPopupFormValues();
            $('#Start').val(sendDate);
            $('#End').val(sendDate);  //value="2020-03-13T18:22"
            $('#schedule-add').modal('show');
            $('#Title').focus();
            
        }
        function ClearPopupFormValues() {
            $('#Title').val("");
            $('#Description').val("");
            $('#Start').val("");
            $('#End').val("");
            $('#Url').val("");
        }
    </script>
}

<div id='calendar'></div>

<!-- Add Modal -->
<div class="modal fade" id="schedule-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Your Schedule</h4>

            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form asp-action="AddEvent" asp-controller="Home">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label asp-for="Start">Start time</label> 
                        <input type="datetime-local" class="form-control" asp-for="Start">
                    </div>
                    <div class="form-group">
                        <label asp-for="End">End datetime</label>
                        <input type="datetime-local" class="form-control" asp-for="End"> 
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input type="text" class="form-control" asp-for="Description">
                    </div>
                    <div class="form-group">
                        <label asp-for="AllDay">All day</label>
                        <input type="checkbox" asp-for="AllDay"> <label>Yes</label> @*1 - полное заполнение, 0 - нет*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Url">Url</label>
                        <input type="text" class="form-control" asp-for="Url">
                    </div>
                    <div class="form-group">
                        <label asp-for="BackgroundColor">Priority</label>
                        <input type="radio" asp-for="BackgroundColor" value="#de3131"> <label>High</label>
                        <input type="radio" asp-for="BackgroundColor" value="#e0b104"> <label>Normal</label>
                        <input type="radio" asp-for="BackgroundColor" value="#3788d8"> <label>Low</label>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnSaveAdd">Create</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseAdd">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="schedule-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Your Schedule</h4>

            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Schedule Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btnDeleteEdit">Delete event</button>
                        <button type="button" class="btn btn-success" id="btnSaveEdit">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseEdit">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<script>
    const addContainer = document.getElementById("schedule-add");
    const addModal = new bootstrap.Modal(addContainer);
    document.getElementById("btnCloseAdd").addEventListener("click", function () {
        addModal.hide();
    });
    document.getElementById("btnSaveAdd").addEventListener("click", function () {
        addModal.hide();
    });

    const editContainer = document.getElementById("schedule-edit");
    const editModal = new bootstrap.Modal(editContainer);
    document.getElementById("btnCloseEdit").addEventListener("click", function () {
        editModal.hide();
    });
    document.getElementById("btnSaveEdit").addEventListener("click", function () {
        editModal.hide();
    });
    document.getElementById("btnDeleteEdit").addEventListener("click", function () {
        editModal.hide();
    });
</script>
*@

