@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "Roles list";
}

<h2>Roles list</h2>
<a asp-action="Create" class="btn btn-sm btn-success">Добавить роль</a>

<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-controller="Manage" asp-action="Index" class="btn btn-sm btn-primary">User list</a>