@model WebDiary.Models.CommentViewModel


<div class="d-flex flex-row align-items-center p-3 form-color">
    @*mt-3 *@
    @*<img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2">*@
    <form id="form">
        <input type="text" class="form-control" placeholder="Enter your comment..." id="Content" required>
        <input type="hidden" class="form-control" id="EventId">
        <button type="submit" id="commentSave">Send</button>
    </form>
</div>

<script>
    $('#commentSave').click(function (event) { //event
        if ($("#Content")[0].checkValidity()) {
            event.preventDefault();

            var commentdto =
            {
                content: $('#Content').val(),
                eventId: $('#EventId').val()
            };

            $.ajax({
                url: "/Comment/CreateComment",
                data: JSON.stringify(commentdto),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $('.mt-2').append(data);
                    $('#Content').val("");
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                }
            });
        }
        else {
            return 0;
        }
    });
</script>