@model Blog.Models.Post

<div class="text-center">
        <table align="center">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Content</td>
                <td>@Model.Description</td>
            </tr>
        </table>
</div>