@model List<GroupViewModel>

<label for="Group">Choose a group:</label>

<select name="Groups" class="Group form-control select__field">
     <option value="null">None</option>
     @foreach(var g in @Model)
     {
         <option value="@g.Id">@g.Name</option>
     }
</select>  