<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDiary</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src='~/fullcalendar/dist/index.global.js'></script>
    <script src='~/js/bootstrap.bundle.min.js'></script> @*tooltips*@
    <script src='~/lib/jquery/dist/jquery.js'></script>
    <script src='https://momentjs.com/downloads/moment.min.js'></script> @*date format*@

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
