@*create another view with ienumerable?*@
<!-- Edit Modal -->
<div class="modal fade" id="schedule-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Your Schedule</h4>

            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Schedule Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        @*<li><a class="dropdown-item" asp-controller="Diplom" asp-action="DeleteAbonent" asp-route-abonentId="@item.AbonentId" input type="submit" method="post">удолит</a></li>*@
                        <button type="submit" class="btn btn-danger" id="btnDeleteEdit" asp-controller="Home" asp-action="RemoveEvent" asp-route-Id="@Model.Id">Delete event</button> @* asp-route-Id="@item.Id"*@
                        <button type="button" class="btn btn-success" id="btnSaveEdit">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseEdit">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>