@using System.Security.Claims;
@model WebDiary.Models.GroupViewModel

@* 
https://stackoverflow.com/questions/60633022/how-can-i-render-partial-view-as-modal-popup-on-button-click *@
@* <h1>Group Details</h1>

<h2>Id: @Model.Id</h2>
<h2>Name: @Model.Name</h2>
 *@

<div class="modal fade" id="gameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">
                        Edit Group

                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name"><i>Name</i></label>
                        <input type="text" class="form-control" id="Name" required>
                    </div>

                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <label for="UserEmail"><i>UserEmail</i></label>
                                    <input type="text" class="form-control" id="UserEmail" required>
                                </td>
                                <td>
                                    <label for="UserEmail"><i></i></label>
                                    <button type="submit" class="form-control btn-success" id="btnAdd">Add</button>
                                </td>
                                <td>
                                    <label for="UsersAdded"><i>UsersAdded</i></label>
                                    <input type="text" class="form-control" id="UsersAdded" required>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnEdit">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnClose">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
