@using System.Security.Claims;
@model WebDiary.Models.GroupViewModel

<div class="modal fade" id="ManageGroupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title" id="title">
                        Create group
                    </h4>
                    <div class="group-selector-partial2"> </div>
                    <script>
                        $(document).ready(function () {
                            $('#btnEditGroup').hide();
                            $('#btnDeleteGroup').hide();
                            $('.group-selector-partial2').load('/Group/ShowUserGroupsDropDownPartial');
                        });
                    </script>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="GroupId">
                    <input type="hidden" class="form-control" id="UserGroupId">
                    <div class="form-group">
                        <label for="Name"><b>Name</b></label>
                        <input type="text" class="form-control" id="Name" required>
                    </div>

                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <label for="UserEmail">User Email</label>
                                    <input type="text" id="myInput" oninput="GetSearch()" class="form-control">
                                    <div id="myDropdown" class="dropdown-content"></div>
                                </td>
                                <td>
                                    <label for="UserEmail"><i></i></label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group">
                        <label for="UsersAdded">Added users</label>
                        <select name="select" class="form-control" id="users" multiple></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDeleteGroup" formnovalidate="formnovalidate" onclick="return DeleteGroup(event)">Delete</button>
                    <button type="submit" class="btn btn-success" id="btnEditGroup">Save</button>
                    <button type="submit" class="btn btn-success" id="btnSaveGroup">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseAdd">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function isNullOrWhitespace(input) {
        return !input || !input.trim();
    }

    //array with searched users
    var arrUsersSearch = new Array();

    //array for add users to group
    var arrUsersToAdd = new Array();

    $('#btnCloseAdd').click(function () {
        $('#ManageGroupModal').modal('hide');
    });

    $("#btnSaveGroup").click(function (event) {
        if ($("#Name")[0].checkValidity()) {
            AddGroup(event);
        }
        else {
            return 0;
        }
    });

    $("#btnEditGroup").click(function (event) {
        if ($("#Name")[0].checkValidity()) {
            UpdateGroup(event);
        }
        else {
            return 0;
        }
    });

    //on change group selector
    $('.group-selector-partial2').change(function () {
        //clear all inputs
        $('#Name').val("");
        $('#GroupId').val("");
        $('#UserGroupId').val("");
        $('#users').empty(); 
        
        //select choosen group
        var selectedGroupId = $(this).find('.Group').val();
        
        //if not "None"
        if (selectedGroupId != "null") {
            arrUsersToAdd = [];
            $('#btnEditGroup').show();
            $('#btnDeleteGroup').show();
            $('#btnSaveGroup').hide();
            $('#title').text("Edit group");

            //get selected group
            var selectedGroup = GetGroup(selectedGroupId);

            //fill modal by selected group
            FillGroupModal(selectedGroup.responseJSON);
        }
        else {
            arrUsersToAdd = [];
            $('#ManageGroupModal :input').prop('disabled', false);
            $('#btnCloseAdd').prop('disabled', false);
            $('#btnEditGroup').hide();
            $('#btnDeleteGroup').hide();
            $('#btnSaveGroup').show();
            $('#title').text("Create group");
        }
    });

    //add user from dropdown to array with added users (arrUsersToAdd)
    $("#myDropdown").on("click", ".user", function (evt) {
        var arrUserId = this.getAttribute("value");
        var arrUserName = $(this).text();

        //add to arrUsersToAdd choosen user
        arrUsersSearch.forEach(function (elem) {
            if (elem.id === arrUserId) {
                arrUsersToAdd.push(elem);
            }
        });

        //add to select choosen user
        $('#users').append("<option value=" + arrUserId + " class=selUser>" + arrUserName + "</option>");
        $('#myInput').val("");
    });

    //delete clicked user from select of choosed users
    $("#users").on("click", ".selUser", function (evt) {
        let idDel = $(this).val();
        let objDel = arrUsersToAdd.findIndex(x => x.id === idDel);
        arrUsersToAdd.splice(objDel, 1);
        $(this).remove();
    });

    //clear dropdown when whetever click at document
    document.addEventListener("click", function (e) {
        $('#myDropdown').html("");
    });

    //find user by input
    function GetSearch() {
        $.ajax({
            type: "POST",
            url: "/User/SearchUserByAuthUser",
            data: { search: $("#myInput").val() },
            success: function (data) {
                //clear dropdown
                $('#myDropdown').html("");
                arrUsersSearch = [];

                //if no users founded
                if (data.length === 0) {
                    $('#myDropdown').append("<a>" + "No users founded!" + "</a>");
                }
                else {
                    //foreach founded users
                    data.forEach(function (element) {
                        arrUsersSearch.push(element);

                        //for not to show auth user
                        var userid = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';

                        //if user is not auth user and if user are not already added to arrUsersToAdd
                        if ((element.id !== userid) && (!(arrUsersToAdd.find(e => e.id === element.id)))) {
                            $('#myDropdown').append("<a value=" + element.id + " class=" + "user" + ">" + element.userName + "</a>");
                        }
                    });
                }
            }
        });
    }

    //get selected group
    function GetGroup(selectedGroupId) {
        return $.ajax({
            dataType: 'json',
            type: "GET",
            url: "/Group/GetGroup",
            async: false,
            data: { groupId: selectedGroupId },
            success: function (data) {
            }
        });
    }

    function FillGroupModal(selectedGroup) {
        //if auth user not the owner of choosen group
        if (selectedGroup.userId != '@User.FindFirstValue(ClaimTypes.NameIdentifier)') {
            //make inputs disable and hide buttons
            $('#btnEditGroup').hide();
            $('#btnDeleteGroup').hide();
            $('#Name').prop('disabled', true);
            $('#users').prop('disabled', true); myInput
            $('#myInput').prop('disabled', true);
        }
        //if auth user is the owner of choosen group
        else {
            //show all buttons for edit and enable the inputs
            $('#btnEditGroup').show();
            $('#btnDeleteGroup').show();
            $('#ManageGroupModal :input').prop('disabled', false);
            $('#btnCloseAdd').prop('disabled', false);
        };

        //fill the inputs by parameters of choosen group
        $('#Name').val(selectedGroup.name);
        $('#GroupId').val(selectedGroup.id);
        $('#UserGroupId').val(selectedGroup.userId);

        //if group with added users
        if (selectedGroup.users != null) {
            selectedGroup.users.forEach(function (element) {
                //add added users in array
                arrUsersToAdd.push(element);
                if (element.id != '@User.FindFirstValue(ClaimTypes.NameIdentifier)') {
                    //show all users except of auth user
                    $('#users').append("<option value=" + element.id + " class=selUser>" + element.userName + "</option>");
                }
            });
        }
    }

    //create group
    function AddGroup(event) {
        event.preventDefault();

        //if "Name" input with whitespaces
        if (isNullOrWhitespace($('#Name').val()))
            return alert("Please, write not whitespace group name");

        var groupdto =
        {
            name: $('#Name').val(),
            userId: '@User.FindFirstValue(ClaimTypes.NameIdentifier)',
            users: arrUsersToAdd
        };

        $.ajax({
            url: "/Group/CreateGroup",
            data: JSON.stringify(groupdto),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //clear inputs and array if success
                alert(result);
                $('#users').html("");
                $('#Name').val("");
                arrUsersToAdd = [];
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //update group: all the time here send to controller array with all users (and which being already added), in controller this rewrite
    function UpdateGroup(event) {
        event.preventDefault();

        if (isNullOrWhitespace($('#Name').val()))
            return alert("Please, write not whitespace group name");

        //send array already added users and newly added users (if this are added)
        var groupdto =
        {
            id: $('#GroupId').val(),
            name: $('#Name').val(),
            userId: $('#UserGroupId').val(),
            users: arrUsersToAdd
        };

        $.ajax({
            url: "/Group/UpdateGroup",
            data: JSON.stringify(groupdto),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert(result);
                arrUsersToAdd = [];
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //delete existed group
    function DeleteGroup(event) {
        event.preventDefault();

        const result = confirm('Are you sure to delete group "' + $('#Name').val() + '" ?');

        if (result) {
            var groupId = $('#GroupId').val();
            $.ajax({
                url: "/Group/DeleteGroup",
                data: JSON.stringify(groupId),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    $('#ManageGroupModal').modal('hide');

                    //for update events (clear Group field, update available groups)
                    someCalendar.refetchEvents();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        } else {
            alert("Group is not deleted!");
        }
    }
</script>