@using System.Security.Claims;
@model WebDiary.Models.GroupViewModel

@* https://stackoverflow.com/questions/60633022/how-can-i-render-partial-view-as-modal-popup-on-button-click *@

<div class="modal fade" id="createGroupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">
                        Create Group
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name"><i>Name</i></label>
                        <input type="text" class="form-control" id="Name" required>
                    </div>

                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    @*send messages if user not exist*@
                                    <label for="UserEmail"><i>User Email</i></label>
                                    <input type="text" id="myInput" oninput="getSearch()" class="form-control">
                                    <div id="myDropdown" class="dropdown-content"></div>
                                </td>
                                <td>
                                    <label for="UserEmail"><i></i></label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group">
                        <label for="UsersAdded"><i>Added users</i></label>
                        <select name="select" class="form-control" id="users" multiple></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnSaveGroup">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseAdd">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var arrUsersSearch = new Array();
    var arrUsersToAdd = new Array();

    $('#btnCloseAdd').click(function () {
        $('#createGroupModal').modal('hide');
    });

    $("#btnSaveGroup").click(function (event) {
        var bac = $("#users").val(["s1", "s3"]);
        console.log(bac);
        if ($("#Name")[0].checkValidity()) {
            AddGroup(event);
        }
        else {
            return 0;
        }
    });

    $("#myDropdown").on("click", ".user", function (evt) {
        var arrUserId = this.getAttribute("value");
        var arrUserName = $(this).text();
        
        arrUsersSearch.forEach(function (elem) {
            if (elem.id === arrUserId) {
                arrUsersToAdd.push(elem);
            }
        });

        $('#users').append("<option value=" + arrUserId + ">" + arrUserName + "</option>");
        $('#myInput').val("");
    });
    document.addEventListener("click", function (e) {
        $('#myDropdown').html("");
    });

    function getSearch() {
        $.ajax({
            type: "POST",
            url: "/User/SearchUser",
            data: { search: $("#myInput").val() },
            success: function (data) {
                $('#myDropdown').html("");
                arrUsersSearch = [];
                data.forEach(function (element) {
                    arrUsersSearch.push(element);
                    $('#myDropdown').append("<a value=" + element.id + " class=" + "user" + ">" + element.userName + "</a>");
                });
            }
        });
    }

    function AddGroup(event) {
        event.preventDefault();

        //https://stackoverflow.com/questions/66002644/many-to-many-entity-framework-core-how-to-insert
        var groupdto =
        {
            userId: '@User.FindFirstValue(ClaimTypes.NameIdentifier)',
            name: $('#Name').val(),
            users: arrUsersToAdd
        };

        $.ajax({
            url: "/Group/CreateGroup",
            data: JSON.stringify(groupdto),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert(result);
                $('#users').html("");
                arrUsersToAdd = [];
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>