@model EditUserViewModel
@{
    ViewBag.Title = "Edit user";
}

<h2>Edit user @Model.Email</h2>
<form asp-action="Edit" asp-controller="Manage">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">UserName</label>
        <input type="text" asp-for="UserName" class="form-control" />
        <label></label>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-sm btn-success" />
        <a class="btn btn-sm btn-primary" asp-action="Index">Back</a>
    </div>
</form>