@model EditUserViewModel

<div class="card mb-4">
    <div class="card-header">Change Password</div>
    <div class="card-body">
        <form asp-action="ChangePassword" asp-controller="User">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="mb-3">
                <label class="small mb-1" for="currentPassword">Current Password</label>
                <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="small mb-1">New Password</label>
                <input type="text" asp-for="NewPassword" class="form-control" placeholder="Enter new password"> @* id="newPassword" type="password" *@
            </div>

            <div class="mb-3">
                <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
            </div>
            <input type="submit" class="btn btn-primary" type="button" value="Save"></input>
            <a class="btn btn-primary" asp-action="Index">Back</a>
        </form>
    </div>
</div>